@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;600;700&display=swap");

$OG-THEME: #8f0606;
$THEME: #ff7272;
$BACKDROP: #fff6f6;
$LOWER-FOOTER: #f4d9d9;
$TEXT: #454545;
$TEXT-DESELECT: #848484;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: $TEXT;
}

.serif-heading {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.blog-post a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.text-defocused {
  color: $TEXT-DESELECT;
}

nav {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.87);
  .nav-logo {
    position: relative;
    z-index: 50;
  }
  ul {
    li {
      .nav-active {
        font-weight: bold;
        color: $OG-THEME;
      }
    }
  }

  .nav-icon {
    cursor: pointer;
    position: relative;
    z-index: 50;
  }

  .nav-line {
    transition: all 300ms ease-in-out;
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.toggle .line-2 {
  opacity: 0;
  transform: scaleX(0);
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-8px, -5px);
}

.backdrop {
  background-color: $BACKDROP;
}

.theme-bg {
  background-color: $THEME;
}

.theme-border {
  border: 3px solid $THEME;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: $BACKDROP;
    border-color: $OG-THEME;
  }
}

.lower-footer {
  background-color: $LOWER-FOOTER;
}

.home-heading-hybrid {
  text-align: start;
}

.cover-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
}

.cover-img-overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 15px;
  }
}

.cover-img-overlay-square {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.63);
  }
}

.coming-soon-outer {
  height: 90vh;

  .coming-soon-inner {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.63);
      border-radius: 15px;
    }
  }
}

.subpage-img {
  width: 100%;
  height: 500px;
}

.img-obj {
  object-fit: cover;
  object-position: center;
}

.img-header {
  height: 65vh;
  width: 400px;
  text-align: end;
}

.about-us {
  h4 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }
  p,
  ol {
    margin-bottom: 1.3rem;
  }
}

header {
  height: 93vh;
}

.header-decor-container {
  .header-decor-1 {
    bottom: -2rem;
    left: -4rem;
    transform: scale(0.8);
  }
  .header-decor-2 {
    top: -2.3rem;
    right: -3.5rem;
    transform: scale(0.8);
  }
}

.class-active {
  background-color: $BACKDROP;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.123);
}

.class-deselected {
  color: $TEXT-DESELECT;
  font-size: 0.9rem;
}

.class-selection {
  &:hover {
    transform: translateY(-0.5rem);
  }
}

.accordion-dropdown {
  transform: rotate(180deg);
  transition: all 200ms ease-in-out;
}

.is-open .accordion-dropdown {
  transform: rotate(0);
  transition: all 200ms ease-in-out;
}

.blog-underline {
  transform: translateX(-105%);
}

.blog-newest:hover {
  .blog-underline {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .subpage-img {
    height: 300px;
  }

  .about-us {
    h4 {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 0.7rem;
      width: 300px;
    }
  }

  .about-grid {
    grid-template-columns: 200px 1fr;
  }

  .about-header {
    grid-template-columns: 224px 1fr;
  }

  .coming-soon-outer {
    height: auto;
  }
}

@media (max-width: 768px) {
  nav {
    ul {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $BACKDROP;
      z-index: 20;
      transform: translateY(-110%);
      transition: transform 300ms ease-in-out;

      li {
        font-size: 1.5rem;
        margin-bottom: 1rem;

        a {
          z-index: 20;
        }
      }
    }

    .nav-mobile-active {
      transform: translateY(0);
    }
  }

  .img-header {
    height: 200px;
    width: 100%;
  }

  header {
    height: 90vh;
  }

  .header-img {
    height: 100%;
    flex: 3;
  }

  .header-cta {
    flex: 5;
  }

  .home-heading-hybrid {
    text-align: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

:root {
  --swiper-theme-color: #8f0606 !important;
}
